body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #123563;
}

.content{
  width: 80%;
  max-width: 900px;
  text-align: center;
  margin: auto;
  margin: 2% auto;
  padding: 1em;
  color: #fff;
  font-family:sans-serif;
  border: .1em solid #ddd;
  border-radius: 4px;
  background-color: #0F2C52;
  box-shadow: 0 80px 80px 0 rgba(0, 0, 0, .3);
  overflow: auto;

}

.title{
  font-size: 50px;
  font-family:sans-serif;
  color: white;
  /* color: #ffc531; */
  margin: auto;
  text-align: center;

}
.timeTitle{
  font-size: 35px;
  font-family:sans-serif;
  display: inline-block;
  text-align: right;
  float:left;
  width:180px;
  padding-top: 15px;

}
.smallTitle{
  font-size: 40px;
  font-family:sans-serif;
  margin: auto;
  text-align: center;
  color: white;
  /* color: #ffc531; */
}

.littleTitle{
  font-size: 30px;
  font-family:sans-serif;
  margin: auto;
  text-align: center;
  background-color: #0F2C52;
  color: white;
  /* color: #ffc531; */;
  border: 1px solid #0F2C52;
  border-bottom: 1px solid #dddddd;
}

.timeBox{
  width:160px;
  height:50px;
  border: .1em solid #ddd;
  background-color: #123563;
  border-radius: 4px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  color: #ffc531;
  padding-top: 15px;
  display: inline-block;
}

.grid{
  width: 390px;
  margin: auto;
  margin-bottom: 50px;
}

#logo{
  text-align: center;
  margin: auto;
  padding: 50 0 50 0;
}

.firstrow{
  color: white;
}

.offCampus{
  color: #ffc531;
}

.footer{
  font-size: 15px;
  color: white;
  width:80%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  color: #ffc531;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 360px;
    color: white;
}

.table{
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #123563;
}
tr:nth-child(odd) {
    background-color: #0F2C52;
}

@media only screen and (max-width: 1100px) {
  .table{
    margin: auto;
  }
  .content{
    width: 90%;
  }
  /* .title{
    font-size: 100px;
  }
  .timeTitle{
    font-size: 70px;
  }
  .smallTitle{
    font-size: 80px;
  }

  .littleTitle{
    font-size: 60px;
  }

  .timeBox{
    font-size: 60px;
  } */
}

@media only screen and (min-width: 1100px) {
  .table{
    display: inline;
  }
}
